body {
    font-family: 'Raleway', sans-serif;
    background: #FF90B3;
    background: -webkit-linear-gradient(to right, #6E44FF, #FF90B3);
    background: linear-gradient(to right, #6E44FF, #FF90B3); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 5px;
}

button {
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

input {
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    padding: 10px 20px;
}

.deleteButton {
    margin-left: 20px;
}